.fade-enter, .fade-appear {
	/* 入场动画进入时刻 */
	opacity: 0;
}
.fade-enter-active, .fade-appear-active {
	/* 入场动画执行中 */
	opacity: 1;
	transition: opacity 1s linear;
}
.fade-enter-done {
	/* 入场动画执行完成 */
	opacity: 1;
}

.fade-exit {
	/* 出场动画进入时刻 */
	opacity: 1;
}
.fade-exit-active {
	/* 出场动画执行中 */
	opacity: 0;
	transition: opacity 1s linear;
}
.fade-exit-done {
	/* 出场动画执行完成 */
	opacity: 0;
}